<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Route Admin API requests to backend port 3000 -->
        <rule name="ReverseProxyToBackendAdmin" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/api/{R:1}" />
        </rule>
        <!-- Route Images to backend port 3000 -->
        <rule name="ReverseProxyToImageAdmin" stopProcessing="true">
          <match url="^image/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/image/{R:1}" />
        </rule>
        <!-- Route Uploads to backend port 3000 -->
        <rule name="ReverseProxyToUploadsAdmin" stopProcessing="true">
          <match url="^uploads/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/uploads/{R:1}" />
        </rule>
        <!-- SPA fallback for Admin React Router -->
        <rule name="React Router Admin" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/ocsc-circular-admin/api" negate="true" />
          </conditions>
          <action type="Rewrite" url="/ocsc-circular-admin/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
