<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all requests from port 80/443 to port 5173 dynamically -->
        <rule name="RedirectTo5173" stopProcessing="true">
          <match url="(.*)" />
          <action type="Redirect" url="http://{HTTP_HOST}:5173/ocsc-circular/{R:1}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
